body {
    background-color: rgb(225, 225, 225);

}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    
} 

.content_text {
    width: 500px;  
}

.contedor-general {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    
    
}

.my-firs-photo {
    background-color: rgb(255, 255, 255);
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    
    

}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.photo {
    width: 500px;
    height: 325px;
    object-fit: cover;
}

.final-text {
    box-sizing: border-box;
    padding: 10px;

}
